main
{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

body
{
    font-family: Josefin Slab, cursive;
    font-size: 18px;
    color: white;
}

h1
{
    font-family: Lobster, cursive;
    text-shadow: 1px 1px rgba(39, 39, 39, 0.71);
}

h2
{
    font-family: Amatic SC, cursive;
    font-size: 40px;
}

h3
{
    font-family: Lobster Two, cursive;
    font-size: 32px;
}

h4
{
    font-family: Josefin Slab, cursive;
    font-size: 18px;
}

p
{
    font-family: Amatic SC, cursive;
    font-size: 28px;
}

html,
body,
.view {
    height: 100%;
}

.view {
    background: url("http://wallpapercave.com/wp/vcN105S.png")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flex-center {
    color: #fff;
}

.extra-margins
{
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}


#isarclogo {
    transition: 1.5s;
    display: block;
    margin: 0 auto;
}

#isarclogo:hover {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    opacity: 0.6;
}

#intro:hover
{
    transform: scale(1.3,1.3);
    -webkit-transform: scale(1.3,1.3);
}

#intro{
    transition: 3s;
}

#intro2:hover
{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
}

#intro2{
    transition: 3s;
}

#avatar:hover
{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
}

#avatar{
    transition: 3s;
}

.container-fluid{
    padding-left: 0;
}

.list-inline li{
    display:inline-block;

}

.ul{
    align-items: center
}

#ddheader{
    font-size: 16px;
}

.left, .right {
    float:left;
    height:100vh;
}

.left {
    display: inline-block;
    white-space: nowrap;
    width:50px;
    transition: width 1s ;
    background: #2e4469;
}

.left:hover {
    width: 200px;
}

.item:hover {
    background-color:#ccc;
}

.left .material-icons {
    margin:15px;
    width:20px;
    color:#fff;
}

span.material-icons.material-icons-refresh{
    font-size:18px;
    vertical-align: middle !important;
}

.item {
    height:50px;
    overflow:hidden;
    color:#fff;
}

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .3s ease-in-out, padding .3s ease-in-out;
    -moz-transition: background .3s ease-in-out, padding .3s ease-in-out;
    transition: background .3s ease-in-out, padding .3s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

.sidebar{
    background:transparent;
}


