html, body {
    height: 100%;
    margin: 0;
}
h1 {
    text-align:center;
    font-family: 'Helvetica Neue', cursive;
    font-size: 3em;
    line-height: 1;
    margin: 20px;
    text-shadow: -2px 3px 0 #ff00ff, 4px 1px 0 #00ffff, -4px -3px 0 #ffff00;
    transition: 1s;
    float:left;
}

h1:hover{
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05,1.05);
}

a {
@include transition(all 0.3 s ease-in-out);
    color: #000000;
    text-decoration: none;
    position: relative;
    text-shadow: -2px 3px 0 #ff00ff, 4px 1px 0 #00ffff, -4px -3px 0 #ffff00;
}

a:hover {
@include animation(link-hover 1 s infinite);
}

#section1 {
    height: 90%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

